:root {
    font-size: calc(14px + .5vw);
    font-family: 'Source Sans Pro', sans-serif;
    --main-margin: 13%;
    --dark-blue-color: #18173A;
    --orange-gradient: linear-gradient(156.84deg, #FFAF73 -5.33%, #FFFECC 100%);
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.125rem var(--main-margin) 0;
}

.header-row-burger {
    display: none;
}

.header-row__logo {
    display: flex;
    align-items: center;
}

.header-row__logo-name {
    padding-left: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #39396D;
}

.js-header-row__nav {
    display: flex;
}

.header-row__nav-burger {
    display: none;
}

.header-row__nav-list {
    display: flex;
}

.header-row__nav-list__item {
    padding-right: 2.1rem;
    font-size: .9rem;
}

.header-row__nav-list__item-btn {
    padding-right: 1rem;
}

.header-row__nav-list__item-btn:last-child {
    padding-right: 0;
}

.header-row__nav-list__item a {
    text-decoration: none;
    color: var(--dark-blue-color)
}

.header-row__nav-list__item a:hover {
    text-decoration: underline;
}

.header-row__nav-list__item-btn__ref {
    padding: .8rem;
    border: 1px solid var(--dark-blue-color);
    border-radius: 10px;
}

.header-row__nav-list__item-btn__ref:hover {
    background-color: var(--dark-blue-color);
    color: white;
}

.welcome-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.375rem;
}

.welcome-block__img {
    width: calc(65% - var(--main-margin));
    overflow: hidden;
    align-self: center;
}

.welcome-block__img img {
    height: auto;
}

.welcome-block__content {
    position: relative;
    width: 35%;
    margin-left: var(--main-margin);
}

.welcome-block__content h1 {
    font-size: 5rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 2rem;
}

.welcome-block__content p {
    color: #525F7F;
    font-size: 1.2rem;
    padding-right: 15%;
}

.red {
    color: #D74D4E;
}

.welcome-block__content__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.75rem;
}

.welcome-block__content__links-item {
    padding: 1.1rem;
    min-width: 350px;
    text-align: center;
    margin-bottom: 2.5rem;
}

.free-trial {
    background-color: #3A3771;
    border: 1px solid #3A3771;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.free-trial:hover {
    box-shadow: 4px 4px rgba(58, 56, 114, .5);
}

.git-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.git-btn:hover {
    box-shadow: 4px 4px rgba(0, 0, 0, .5);
}

.git-btn div {
    margin-right: 5px;
}

.welcome-block__content__contact,
.welcome-block__content__contact a {
    font-size: 1.2rem;
    color: #525F7F;
}

.welcome-block__content__contact a:hover {
    color: black;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5.25rem var(--main-margin) 8rem;
}

.partners-item {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    padding-right: 2.5%;
}

.partners-item:last-child {
    padding-right: 0;
    justify-content: flex-end;
}

.partners-item:first-child {
    justify-content: flex-start;
}

.partners-item img {
    width: auto;
    height: auto;
}

.title-desc {
    position: relative;
    display: flex;
    margin: 5.25rem var(--main-margin) 6rem;
    z-index: 10;
}

.title-desc-head {
    flex: 0 0 45%;
}

.title-desc-body {
    flex: 1 0 55%;
    padding: 0 5% 0 6%;
}

.h2-title {
    font-family: 'Inter', sans-serif;;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 1.2;
    color: var(--dark-blue-color);
}

.h3-title {
    font-family: 'Inter', sans-serif;;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 1.2;
    color: var(--dark-blue-color);
}

.title-desc-body p {
    color: var(--dark-blue-color);
    font-size: 1.4rem;
}

.title-desc__ornament {
    position: absolute;
    z-index: 1;
    top: -25px;
    right: -25px;
}

.red-back {
    background-color: #D74D4E;
    color: white;
}

.welcome-block__content__ornament {
    position: absolute;
    top: -25px;
    left: -25px;
}

.gray-back {
    background: linear-gradient(to bottom,
    rgba(245, 246, 248, .1), rgba(245, 246, 248, 1),
    rgba(245, 246, 248, 1), rgba(245, 246, 248, 1),
    rgba(245, 246, 248, 1), rgba(245, 246, 248, .1));
}

.features {
    display: flex;
    flex-direction: column;
    margin: 0 var(--main-margin) 5.4rem;
}

.features__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.375rem;
}

.features__item__title {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: var(--dark-blue-color);
}

.features__item__content {
    display: flex;
    flex-wrap: wrap;
}

.features__item__content-container {
    flex: 0 1 32%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    padding: 2rem 2rem 5rem;
    margin-right: 1%;
}

.features__item__content-container:last-child {
    margin-right: 0;
}

.features__item__content-container-img {
    width: 80px;
    height: 80px;
    margin-bottom: 1.9rem;
}

.features__item__content-container-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--dark-blue-color);
}

.features__item__content-container-text {
    font-size: .8rem;
    color: #525F7F;
}

.testimonial {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial-container {
    padding: 0 var(--main-margin) 1rem;
    width: 90%;
    background-color: #F6F6FB;
    background-position: 10% 0;
}

.testimonial__text {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.testimonial__text p {
    font-style: italic;
    font-size: 1.1rem;
    color: #525F7F;
    margin: 1.5rem 0;
}

p.testimonial__text-item-author {
    color: #333333;
    font-weight: 600;
    font-style: normal;
    margin-bottom: .5rem;
}

p.testimonial__text-item-job {
    color: #404852;
    font-size: .8rem;
    font-style: normal;
    margin: 0;
}

.testimonial__img {
    position: absolute;
    top: 30%;
    right: 0;
    width: 40%;
}

.testimonial-arrows {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    padding: 0 var(--main-margin);
}

.js-testimonial-arrows-back,
.js-testimonial-arrows-next{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin-right: 2rem;
}

.js-testimonial-arrows-back img,
.js-testimonial-arrows-next img{
    width: 25px;
    height: 25px;
}

.js-testimonial-arrows-back img{
    transform: rotate(180deg);
}

.js-testimonial-arrows-back:hover,
.js-testimonial-arrows-next:hover {
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: rgba(166, 161, 161, .5);
    cursor: pointer;
}

.testimonial-container__ornament-top {
    position: absolute;
    top: -50px;
    left: 5%;
}

.testimonial-container__ornament-bottom {
    position: absolute;
    top: 20%;
    right: 5%;
}

.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 15rem var(--main-margin) 10rem;
}

.clients__desc {
    margin: 2rem 0 4rem;
    width: 65%;
}

.clients__desc p {
    color: #525F7F;
    font-size: 1.2rem;
    text-align: center;
}

.clients__links {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.custom-btn {
    text-decoration: none;
    color: #3A3771;
    border: 1px solid #3A3771;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.2rem;
}

.custom-btn:hover {
    box-shadow: 4px 4px rgba(0, 0, 0, .5);
}

.clients__imgs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.clients__img-item {
    display: flex;
    justify-content: center;
    flex: 0 0 20%;
    margin-bottom: 4.5rem;
}

.clients__img-item img {
    width: auto;
    height: auto;
}

.clients__ornament {
    position: absolute;
    top: -2.5rem;
    left: 17%;
}

.blog {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 8rem;
    padding: 4.3rem var(--main-margin) 4.3rem 3rem;
    margin-bottom: 5rem;
    background: url("../img/Background-Shape.png") repeat;
}

.blog__main {
    display: flex;
    flex-direction: column;
    flex: 0 0 55%;
    z-index: 3;
}

.blog__ornament-right {
    position: absolute;
    top: 5%;
    right: 10%;
    z-index: 1;
}

.blog__ornament-left {
    position: absolute;
    left: -2%;
    bottom: 5%;
    z-index: 1;
}

.blog__articles {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
}

.blog__main-articles-item {
    flex: 0 0 45%;
}

.blog__main-title .h2-title {
    width: 70%;
    font-size: 2.2rem;
    margin-bottom: .8rem;
}

.blog__main-text p {
    width: 70%;
    font-size: 1rem;
    line-height: 2;
    color: #525F7F;
    margin-bottom: 2.2rem;
}

.blog__main-articles {
    display: flex;
    justify-content: space-between;
}

.blog__main-articles-item {
    border-radius: 5px;
    background-color: #FFFFFF;
}

.blog__main-articles-item-img img {
    border-radius: 5px 5px 0 0;
}

.blog__main-articles-item-title {
    font-weight: 600;
    font-size: .8rem;
    color: #000000;
    margin: 1.6rem 1.6rem 10px;
}

.blog__main-articles-item-title h5 {
    margin: 0;
}

.blog__main-articles-item-data {
    font-size: .7rem;
    color: #9395A0;
    margin: 0 1.6rem;
}

.blog__main-articles-item-author {
    font-size: .8rem;
    color: #18173A;
    margin: 12px 1.6rem 1.6rem;
}

.blog__articles__content {
    display: flex;
    flex-direction: column;
}

.blog__articles__content-item {
    display: flex;
    margin-bottom: 1.8rem;
}

.blog__articles__content-item-img {
    display: flex;
    align-items: center;
    flex: 0 0 75px;
    margin-right: 20px;
}

.blog__articles__content-item-img img {
    width: 75px;
    height: 75px;
}

.blog__articles__content-info {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;
}

.blog__articles-link {
    margin-bottom: 3rem;
    display: flex;
}

.blog__articles-link a.free-trial {
    width: 100%;
    padding: .9rem;
    text-align: center;
}

.blog__articles__content-info-title {
    font-weight: 600;
    font-size: .9rem;
    color: #000000;
    margin-bottom: 10px;
}

.blog__articles__content-info-author {
    color: #9395A0;
    font-size: .8rem;
}

.register {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding-bottom: 4.5rem;
}

.register__img {
    flex: 0 0 30%;
}

.register__img img {
    height: auto;
}

.register__form__container {
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
    padding-right: var(--main-margin);
}

.register__form__container-title h3 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    color: #18173A;
    margin-bottom: .8rem;
}

.register__form__container-info p {
    font-size: 1rem;
    line-height: 2;
    color: #525F7F;
    margin-bottom: 1.7rem;
}

.register__form .form__input {
    width: 100%;
}

.register__form-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register__form-links p {
    margin: 1.4rem 0;
}

.register__form-links button {
    width: 100%;
    padding: 1.4rem 0;
}

.register__form-links button img {
    height: auto;
    width: auto;
}

footer {
    background: #F6F6FB;
    padding-top: 7.5rem;
}

.footer-container {
    margin: 0 var(--main-margin);
}

.footer-subscribe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5rem;
    border-bottom: 1px solid #D8D8E6;
}

.footer-subscribe__logo {
    flex: 0 0 150px;
}

.footer-subscribe__logo img {
    width: auto;
    height: auto;
}

.footer-subscribe__form-container {
    flex: 0 0 25%;
}

.footer-subscribe__text {
    flex: 0 0 42%
}

.footer-subscribe__text p {
    color: #525F7F;
    font-size: .8rem;
    line-height: 2;
}

.footer-subscribe__form h4 {
    font-weight: 600;
    color: #18173A;
    font-size: 1rem;
    margin-bottom: .6rem;
}

.js-footer-nav {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0 6rem;
}

.footer-nav__item {
    flex: 0 0 140px;
    display: flex;
    flex-direction: column;
}

.footer-nav__item-title {
    color: #18173A;
    font-weight: 600;
    font-size: .9rem;
}

.js-footer-nav__item-list a {
    text-decoration: none;
    color: #525F7F;
    font-size: .7rem;
}

.js-footer-nav__item-list a:hover {
    text-decoration: underline;
    color: #000000;
}

.form-item {
    position: relative;
    margin-bottom: 1rem;
}

.form__label {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: .6rem;
    color: #404852;
}

.form__input {
    background: #FFFFFF;
    border: 2px solid #CDCDE3;
    border-radius: 5px;
    color: #121212;
    font-weight: 600;
}

.form__input {
    padding: 30px 100px 10px 20px;
}

.footer-subscribe__form__btn {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 10px;

    min-width: 50px;
    min-height: 45px;
    max-width: 50px;
    max-height: 45px;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A3771;
    border-radius: 6px;
    border: 1px solid #3A3771;
    outline: none;
}

.footer-subscribe__form__btn:hover {
    box-shadow: 0 0 40px rgba(68, 63, 155, 0.35);
}

.footer-subscribe__form__btn img {
    width: auto;
    height: auto;
}

/*Gategory page*/
.orange-gradient{
    background: var(--orange-gradient);
    display: flex;
    flex-direction: column;
}

.orange-gradient .welcome-block{
    justify-content: flex-start;
    margin-bottom: 10rem;
}

.orange-gradient .welcome-block__content{
    width: 60%;
}

.categories{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.categories__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 7rem;
    margin: 0 3rem 0 var(--main-margin);

    position: relative;
    z-index: 100;
}

.categories__item:nth-child(even){
    margin: 0 3rem 0 calc(var(--main-margin) - 3rem);
}

.categories__item:nth-child(even) .categories__item__info{
    order: 1;
    margin-left: 10%;
}

.categories__item__info{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.categories__item__info-text p{
    padding: 1rem 0;
    font-size: 1rem;
    color: #525F7F;
}

.categories__item__imgs{
    width: 45%;
}

.categories__item__info-btn{
    margin: 2rem 0 0;
}

.categories__item-ornament{
    position: absolute;
    z-index: -1;
}

.or1{
    top:65%;
    left: 5%;
}

.or2{
    top:55%;
    right: 10%;
}

.or3{
    top:65%;
    left: -5%;
}

.or4{
    top:5%;
    right: 5%;
}

.abs-figure {
    position: absolute;
    background: #F6F6FB;
    height: 100%;
    width: 45%;
    z-index: -1;
}

.rectangle-left{
    left: -20%;
}

.rectangle-right{
    right: -20%;
}

.circle{
    border-radius: 50%;
}

.circle-right{
    right: -25%;
}

.circle-left{
    left: -30%;
}

.triangle{
    background: transparent;
    border-top: 300px solid transparent;

    border-bottom: 300px solid transparent;
}

.triangle-left{
    left: -16%;
    border-left: 300px solid #F6F6FB;
}

.triangle-right{
    right: -5%;
    border-right: 300px solid #F6F6FB;
}

@media all and (max-width: 1439px) {
    :root {
        --main-margin: 5%;
    }

    .welcome-block__content__links {
        padding: 0;
    }

    .welcome-block__content {
        width: 45%;
    }

    .welcome-block__img {
        width: calc(55% - var(--main-margin));
    }
}

@media all and (max-width: 1024px) {
    .header-row {
        flex-wrap: wrap;
    }

    .header-row__logo {
        width: 50%;
    }

    .header-row-burger {
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }

    .header-row-burger img {
        width: 40px;
    }

    .js-header-row__nav {
        margin-top: 2rem;
        padding: 3rem 0;
        width: 100%;
        display: none;
        justify-content: center;
        border-bottom: 1px solid black;
    }

    .clients {
        margin: 8rem var(--main-margin) 2rem;
    }

    .clients__links {
        width: 100%;
        justify-content: center;
    }

    .welcome-block__content__links-item.free-trial {
        margin-right: 2rem;
    }

    footer {
        padding-top: 3rem;
    }

    .footer-subscribe {
        flex-wrap: wrap;
    }

    .footer-subscribe__logo {
        flex-basis: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .blog {
        margin-left: 2rem;
    }

    .clients__img-item{
        flex: 0 0 25%;
    }
}

@media all and (max-width: 840px) {
    .h2-title{
        text-align: center;
    }

    .welcome-block {
        flex-direction: column;
    }

    .welcome-block__content {
        width: calc(100% - var(--main-margin));
    }

    .welcome-block__content p {
        padding: 0;
        width: 60%;
    }

    .welcome-block__content__links {
        justify-content: flex-start;
    }

    .welcome-block__content__links .git-btn {
        margin-right: 0;
    }

    .welcome-block__img {
        width: 100%;
        overflow: hidden;
        margin-top: 2rem;
    }

    .js-footer-nav {
        flex-direction: column;
        padding: 2rem 0;
    }

    .footer-nav__item {
        flex: 0 0 auto;
        padding: 1rem 0;
        border-bottom: 1px solid gray;
    }

    .footer-nav__item-title {
        display: flex;
        justify-content: space-between;
    }

    .footer-nav__item-title::after {
        content: "\25BC";
    }

    .js-footer-nav__item-list {
        display: none;
    }

    .footer-nav__item-title:hover {
        cursor: pointer;
    }

    .partners {
        justify-content: center;
        margin: 3rem var(--main-margin) 3rem;
    }

    .partners-item {
        flex: 0 0 40%;
        padding: 0;
        margin: 1rem 0;
        display: flex;
        justify-content: center;
    }

    .partners-item:nth-child(odd) {
        justify-content: flex-start;
    }

    .partners-item:nth-child(even) {
        justify-content: flex-end;
    }

    .title-desc {
        flex-direction: column;
    }

    .title-desc-head {
        text-align: center;
        margin: 2rem 0 3rem;
    }

    .title-desc-body {
        text-align: center;
    }

    .blog{
        margin: 0 0 3rem;
        flex-direction: column;
    }

    .blog__main-title .h2-title {
        width: 100%;
    }

    .blog__main-text p{
        width: 100%;
        text-align: center;
        padding: 0 2rem;
    }

    .blog__articles{
        margin-top: 3rem;
    }

    .clients__img-item{
        flex: 0 0 33%;
    }

    .register{
        flex-direction: column;
        padding: 0 2rem;
    }

    .register__img{
        display: flex;
        justify-content: center;
    }

    .register__img img{
        width: 40%;
    }

    .register__form__container{
        padding: 2rem;
    }

    .register__form__container-title h3,
    .register__form__container-info p{
        text-align: center;
    }

    .clients__links .welcome-block__content__links-item{
        min-width: 300px;
    }
}

@media all and (max-width: 720px) {
    .header-row__nav-list {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .header-row__nav-list__item {
        padding-right: 1rem;
    }

    .footer-subscribe {
        flex-direction: column;
        padding-bottom: 2rem;
    }

    .footer-subscribe__text p {
        text-align: center;
        padding: 1rem 3rem;
    }

    .footer-subscribe__form h4{
        text-align: center;
    }

    .welcome-block__content {
        margin: 0;
        padding: 1rem;
    }

    .welcome-block__content h1 {
        text-align: center;
    }

    .welcome-block__content p {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }

    .welcome-block__content__links {
        justify-content: center;
    }

    .features__item__content-container {
        padding: 1rem 1rem 2rem
    }

    .clients__links {
        flex-direction: column;
        align-items: center;
    }

    .welcome-block__content__links-item.free-trial {
        margin-right: 0;
    }

    .testimonial__text {
        width: 100%;
    }

    .testimonial__img {
        top: 65%;
        right: 20px;
        width: 52%;
    }
}

@media all and (max-width: 640px) {
    .header-row__nav-list__item-btn{
        width: 40%;
        margin-top: 2rem;
    }

    .header-row__nav-list__item:nth-child(7){
        width: 80%;
        display: flex;
        justify-content: flex-end;
    }

    .header-row__nav-list__item:nth-child(8){
        width: 20%;
        display: flex;
        justify-content: flex-end;
    }

    .footer-subscribe__text p {
        text-align: center;
        padding: 1rem;
    }
    .features__item__content-container {
        flex: 0 0 49%;
        margin-bottom: 1rem;
    }

    .welcome-block__content__links {
        flex-direction: column;
    }

    .welcome-block__content__links-item {
        width: 90%;
    }

    .welcome-block__content__links .git-btn {
        margin-left: 0;
    }

    .welcome-block__content h1 {
        font-size: 3.5rem;
    }

    .clients__imgs{
        justify-content: center;
    }

    .clients__img-item{
        flex: 0 0 45%;
    }

    .clients__img-item:nth-child(odd){
        justify-content: flex-start;
    }

    .clients__img-item:nth-child(even){
        justify-content: flex-end;
    }

    .clients__img-item:last-child{
        flex: 0 0 100%;
        justify-content: center;
    }

    .blog{
        padding: 1rem;
    }
}

@media all and (max-width: 480px) {
    .welcome-block__content__links-item{
        min-width: auto;
    }

    .header-row__logo-name {
        line-height: 1;
    }

    .js-header-row__nav {
        padding: 0 0 1rem;
        margin: 1rem 0 0;
        display: none;
    }

    .header-row__nav-list {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .header-row__nav-list__item {
        padding: 1rem 0;
    }

    .header-row__nav-list__item-btn {
        text-align: center;
    }

    .testimonial-container{
        width: 100%;
    }

    .testimonial__img,
    .testimonial-container__ornament-bottom {
        display: none;
    }

    .features__item__content {
        flex-direction: column;
        justify-content: center;
    }

    .features__item__content-container {
        flex: 0 0 70%;
        margin-bottom: 1rem;
    }

    .partners-item{
        flex: 0 0 80%;
    }
    .partners-item:nth-child(n){
        justify-content: center;
    }

    .clients__img-item{
        flex: 0 0 90%;
    }

    .clients__img-item:nth-child(n){
        justify-content: center;
    }

    .register__form__container{
        padding: 2rem 0;
    }

    .title-desc__ornament{
        display: none;
    }
}

@media all and (max-width: 320px) {
    :root {
        font-size: 12px;
    }

    .welcome-block {
        flex-direction: column;
    }

    .welcome-block__content {
        width: 100%;
        padding: 1rem;
        margin: 0;
    }

    .welcome-block__content__links {
        flex-direction: column;
        align-items: center;
    }

    .welcome-block__content__contact
    .welcome-block__content h1 {
        font-size: 4rem;
    }

    .welcome-block__content p {
        padding: 1rem;
    }
}
















